JWT_RSA_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nMIIBOwIBAAJBAK5NhgulM7n/rFtMCJTJBe8UXhjF260jR6er+hjHrLFNDfyEi/en\nmzRnwqmtcNRr0IgVJ9twbSZQFuvEEPq3c6ECAwEAAQJAMmGIEE+k/usu54i3pkHg\nrDVH6YMvNwFOkeF8vbLhcLGoHUtcjVZA8sNZumxx6O7GE2nbKq/WYcE1psPOO2YT\nfQIhAPr32b6qKqyiFt9x8u8AKC1HBfXR6HBtwLFYEgnbZxvnAiEAscwr2fTBmAa1\nwElV0leBUQfy+8G65PR18apvBjpFQzcCIDuX4wKdUajQjHHekvshpGir9sRaZcFc\nrmbuLMpeaOt9AiEAnKtRtMRE1waKnz6/3hJ3hASiKw+h9WAokePh4zXzlG8CIQCr\n7NwMjfQfMP9eze7PaCrd7SM4boK5l+fji7fw+qhQIg==\n-----END RSA PRIVATE KEY-----"
JWT_RSA_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAK5NhgulM7n/rFtMCJTJBe8UXhjF260j\nR6er+hjHrLFNDfyEi/enmzRnwqmtcNRr0IgVJ9twbSZQFuvEEPq3c6ECAwEAAQ==\n-----END PUBLIC KEY-----"
